@model Category

@{
    ViewData["Title"] = "Details";
}

<h1>Kategori Detay</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary">Listeye Dön</a>
</div>
