
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h1>Session oluşturuldu... Sonuçları görmek için oturum sayfasınıa gidiniz....</h1>

<a asp-controller="Oturum" asp-action="Oturum" class="btn btn-primary">Oturum Sayfası</a>
