
@{
    ViewData["Title"] = "UrunSat";
}

<h1>UrunSat</h1>

<form method="post">
    <div>
        <label>Ürün ID</label>
        <input type="text" name="urunID" placeholder="Ürün ID Giriniz" />
    </div>

    <div>
        <label>Ürün Adı</label>
        <input type="text" name="urunAdi" placeholder="Ürün Adı Giriniz" />
    </div>

    <div>
        <label>Ürün Fiyatı</label>
        <input type="text" name="urunFiyati" placeholder="Ürün Fiyatı Giriniz" />
    </div>

    <div>
        <input type="submit" value="Ürün Gönder" class="btn btn-outline-success"/>
    </div>
</form>