
@{
    ViewData["Title"] = "TermsOfUse";
}

<section class="page-section" id="terms-of-service">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Kullanım Şartları</h2>
            <p class="section-subheading text-muted">Son Güncelleme Tarihi: @DateTime.Now</p>
        </div>
        <div class="row text-start">
            <div class="col-lg-12">
                <h3>1. Giriş</h3>
                <p>Bu Kullanım Şartları, <strong>Infotech Academy</strong> <em>"Kazım İkbal Dandır"</em>  tarafından sağlanan <strong>MySite v.01</strong> kullanımına ilişkin şartları açıklar. Siteye erişerek veya siteyi kullanarak, bu şartları kabul etmiş olursunuz.</p>

                <h3>2. Kullanım Koşulları</h3>
                <p>Sitenin kullanımı şu koşullara tabidir:</p>
                <ul>
                    <li>Siteyi yalnızca yasal amaçlarla kullanabilirsiniz.</li>
                    <li>Siteyi kullanırken yürürlükteki tüm yasalara ve düzenlemelere uymayı kabul edersiniz.</li>
                    <li>Siteye zarar verebilecek, engelleyebilecek veya aşırı yük getirebilecek hiçbir faaliyette bulunamazsınız.</li>
                </ul>

                <h3>3. Fikri Mülkiyet</h3>
                <p>Sitede yer alan tüm içerikler, ticari markalar, logolar ve diğer fikri mülkiyet hakları bize veya lisans verenlerimize aittir. Bu içerikleri, bizim önceden yazılı iznimiz olmaksızın kullanamazsınız.</p>

                <h3>4. Kullanıcı İçeriği</h3>
                <p>Sitede paylaşacağınız tüm içerikler sizin sorumluluğunuzdadır ve bu içeriklerin yasalara aykırı, zararlı, tehdit edici, taciz edici veya başka bir şekilde uygunsuz olmadığını kabul edersiniz.</p>

                <h3>5. Sorumluluk Reddi</h3>
                <p>Sitemizi kullanımınız tamamen sizin sorumluluğunuzdadır. Sitemizin kesintisiz veya hatasız çalışacağını garanti etmiyoruz.</p>

                <h3>6. Değişiklikler</h3>
                <p>Bu Kullanım Şartları'nı herhangi bir zamanda değiştirme hakkını saklı tutarız. Değişiklikler, sitede yayınlandıkları tarihten itibaren geçerli olacaktır. Sitemizi kullanmaya devam ederek bu değişiklikleri kabul etmiş olursunuz.</p>

                <h3>7. İletişim</h3>
                <p>Bu Kullanım Şartları hakkında herhangi bir sorunuz veya endişeniz varsa, bizimle iletişime geçebilirsiniz:</p>
                <p>
                    <strong>E-posta:</strong> kikbal.dandir@gmail.com <br>
                    <strong>Telefon:</strong> 05301433834 <br>
                    <strong>Adres:</strong> İstanbul / Beylikdüzü
                </p>
            </div>
        </div>
    </div>
</section>

