@model Ogrenci

@{
    ViewData["Title"] = "Delete";
}

<h1>Silme</h1>

<h3>Öğrenciyi silmek istediğinize emin misiniz?</h3>
<div>
    <form asp-action="Delete" asp-controller="Egitim" onsubmit="submitForm(event)">
        <button class="btn btn-danger" onclick="return confirmDelete(event);">Sil</button> |
        <a asp-action="ListeKatilanlar" asp-controller="Egitim">Listeye Dön</a>
    </form>
</div>

@section Scripts {
    <script src="~/js/repository.js"></script>
}