@model Ogrenci
@{
    ViewData["Title"] = "Teşekkürler";
}

<h1>Merhaba,</h1>
<h2>@Model.Ad @Model.Soyad</h2>
<hr />

@if (Model.Katilim == true)
{
    @:Eğitime başvurduğunuz için teşekkür ederiz 🙌 @Model.Eposta üzerinden tarafınıza dönüş sağlanacaktır 😊
}
else
{
    @:Eğitime başvurmadığınız için üzgünüz 🙄 Tekrar görüşmek dileğiyle... ✌️
}

<br />

Eğitime başvuranların listesini görmek için <a asp-action="TumListe"> 👉 buraya</a> tıklayınız.