@{
    ViewData["Title"] = "Privacy Policy";
}

<div>
    <h1 class="mt-4">Privacy Policy</h1>
    <p>At InfoTech Academy, we prioritize user privacy and strive to protect your personal information. This privacy policy document outlines the types of personal information we collect, how we use this information, and how we protect it.</p><br />

    <h3>Collected Information</h3>
    <p>When you contact us or use our services, we may collect personal information such as your name, email address, and phone number.</p><br />

    <h3>Utilized Information</h3>
    <p>We may use the personal information we collect for the following purposes:</p>
    <ul>
        <li>To provide services to you and deliver the services offered,</li>
        <li>To communicate with you,</li>
        <li>To improve our services,</li>
        <li>To process your requests and enhance our services.</li>
    </ul><br />

    <h3>Information Sharing and Distribution</h3>
    <p>We do not share or sell your personal information to third parties.</p><br />

    <h3>Information Protection</h3>
    <p>We take industry-standard security measures to protect your personal information and strive to prevent any unauthorized access.</p><br />

    <h3>Cookies</h3>
    <p>We may use cookies on our website. You can change your browser settings to accept or reject cookies.</p><br />

    <h3>Privacy Policy Updates</h3>
    <p>This privacy policy may be revised from time to time with updates and changes. These changes will be effective when published on our website. If you have any questions about this privacy policy, please feel free to contact us.</p>
</div>
