@{
    ViewData["Title"] = "ErisimEngellendi";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<style>
    body {
        background-color: #f8f9fa;
    }

    .centered {
        text-align: center;
    }
</style>

<div class="col-md-12">
    <div class="centered">
        <h1 style="font-size: 3em;">UPS!</h1>
        <img src="https://img-s1.onedio.com/id-5648a85d538de0121ae9a91d/rev-0/w-600/h-325/f-gif/s-76b73ec55ad57a85f55ed4a7875cc25183a2cd9a.gif" alt="Erişim Engellendi GIF" style="max-width: 100%; height: auto;">
        <h2 style="color: red;">Bir şeyler ters gitti!</h2>
        <p style="font-size: 1.0em;">Bu sayfaya giriş yetkiniz yoktur.</p>
        <a href="/" class="btn btn-primary mt-3">Ana Sayfaya Git</a>
    </div>
</div>