@model Kullanici

@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-6">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-body">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Tekrar Hoşgeldiniz!</h1>
                    </div>
                    <form class="user" asp-action="Login" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <input asp-for="KullaniciAdi" class="form-control form-control-user" placeholder="Kullanıcı adınızı giriniz *" />
                        </div><br />
                        <div class="form-group">
                            <input asp-for="Parola" type="password" class="form-control form-control-user" placeholder="Şifrenizi giriniz *" />
                        </div><br />
                        <button type="submit" class="btn btn-primary btn-user btn-block">
                            Giriş Yap
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
