@model BookType

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="BookType">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TypeID" />
            <div class="form-group">
                <label asp-for="TypeName" class="control-label"></label>
                <input asp-for="TypeName" class="form-control" placeholder="Write the book type..." />
                <span asp-validation-for="TypeName" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-success" />
                <a asp-action="Index" asp-controller="BookType" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
