@{
    ViewData["Title"] = "ReceivedDataView";
}

<h1>Received Data View</h1>
<hr />

<ul>
    <li>Product ID : @TempData["ProductID"]</li>
    <li>Product Name: @TempData["ProductName"]</li>
    <li>Product Price : @TempData["ProductPrice"] $</li>
    <li>Product Stock Quantity : @TempData["ProductStockQuantity"]</li>
</ul>



