
@{
    ViewData["Title"] = "Index";
}

<h1>Admin Panel Dashboard</h1>
<hr />

<a href="/Hakkimdas" class="btn btn-primary">Blog Yazıları</a>
<br /><br />
<a href="/Projelers" class="btn btn-success">Projeler</a>
<br /><br />
<a href="/Iletisims" class="btn btn-warning">Gelen Mesajlar</a>
<br /><br />