<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div style="background-color:aqua; height:80px">
        UST KISIM
        <hr />
    </div>

    <div>
        @RenderBody()
    </div>

    <div>
        <hr />
        ALT KISIM
    </div>
</body>
</html>
