@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script type="text/javascript">debugger; alert();</script>
<h1>Merhaba MVC</h1>
<hr/>
