
@{
    ViewData["Title"] = "ActivityLog";
}

<div class="container">
    <h1 class="mt-4 text-danger">Bakım Modu</h1>
    <i class="fas fa-tools fa-5x text-danger mb-4"></i>
    <p class="lead">Bu sayfamız şu anda bakımdadır. Özür dileriz, kısa bir süre sonra tekrar hizmetinizde olacağız.</p>
    <p>Lütfen daha sonra tekrar deneyin.</p>
</div>

