@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>Gizlilik Politikası</h1>

<div class="container">
    <h1 class="mt-4">Gizlilik Politikası</h1>
    <p>InfoTech Academy olarak, kullanıcı gizliliğini önemsiyor ve kişisel bilgilerinizi koruma altına almak için çaba sarf ediyoruz. Bu gizlilik politikası belgesi, hangi türdeki kişisel bilgileri topladığımızı, bu bilgileri nasıl kullandığımızı ve bu bilgileri nasıl koruduğumuzu açıklar.</p>

    <h3>Toplanan Bilgiler</h3>
    <p>Bizimle iletişime geçtiğinizde veya hizmetlerimizi kullanırken, adınız, e-posta adresiniz, telefon numaranız gibi kişisel bilgileri toplayabiliriz.</p>

    <h3>Kullanılan Bilgiler</h3>
    <p>Topladığımız kişisel bilgileri şu amaçlarla kullanabiliriz:</p>
    <ul>
        <li>Size hizmet sunmak ve sunulan hizmetleri sağlamak,</li>
        <li>Sizinle iletişim kurmak,</li>
        <li>Hizmetlerimizi geliştirmek,</li>
        <li>Taleplerinizi işlemek ve hizmetlerimizi iyileştirmek.</li>
    </ul>

    <h3>Bilgi Paylaşımı ve Dağıtımı</h3>
    <p>Kişisel bilgilerinizi üçüncü taraflarla paylaşmıyoruz veya satmıyoruz.</p>

    <h3>Bilgi Koruma</h3>
    <p>Kişisel bilgilerinizi korumak için endüstri standartlarına uygun güvenlik önlemleri alıyoruz ve herhangi bir yetkisiz erişimi önlemek için çaba gösteriyoruz.</p>

    <h3>Çerezler</h3>
    <p>Web sitemizde çerezler kullanabiliriz. Çerezleri kabul etmek veya reddetmek için tarayıcınızın ayarlarını değiştirebilirsiniz.</p>

    <h3>Gizlilik Politikası Güncellemeleri</h3>
    <p>Bu gizlilik politikası, güncellemeler ve değişikliklerle zaman zaman revize edilebilir. Bu değişiklikler web sitemizde yayımlandığında geçerli olacaktır.</p>

    <p>Bu gizlilik politikası hakkında sorularınız varsa lütfen bizimle iletişime geçin.</p>
</div>
