@{
    ViewData["Title"] = "Profile";
}

<div class="text-center">
    <p>
        <img src="https://i.pinimg.com/originals/89/d9/e0/89d9e0f67c361865fe9746c3c3de6b8a.gif" alt="Welcome" class="wave-gif">
    </p>
    <p class="lead">Bu sayfamız şu anda bakımdadır. Özür dileriz, kısa bir süre sonra tekrar hizmetinizde olacağız.</p>
    <p>Lütfen daha sonra tekrar deneyin.</p>
</div>

