@model UserClaim
@{
    ViewData["Title"] = "Index";
}
<h1>User Information</h1>

<p>User ID: @ViewBag.UserClaim.UserID</p>
<p>User Name: @ViewBag.UserClaim.UserName</p>
<p>User Last Name: @ViewBag.UserClaim.UserLastName</p>