<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="bi bi-book-half"></i>
        </div>
        <div class="sidebar-brand-text mx-3">InfoTech Academy</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" asp-action="index" asp-controller="home">
            <i class="bi bi-house"></i>
            <span>Ana Sayfa</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item active">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
           aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Sayfalar</span>
        </a>
        <div id="collapsePages" class="collapse show" aria-labelledby="headingPages"
             data-parent="#accordionSidebar" style="margin-left:8px; width:207px;">
            <div class="bg-white py-2 collapse-inner rounded">
                @*<a class="collapse-item active" href=" style="margin-left:2px;"/home">Ana Sayfa</a>*@

                @* <a class="collapse-item active" href="/home/privacy" style="margin-left:2px;">Özel</a> *@

                <a class="collapse-item active" href="/egitim/TumListe" style="margin-left:2px;">
                    <i class="bi bi-card-list"></i>
                    <span style="margin-left:3px;">Tüm Başvurular</span>
                </a>

                @*<a class="collapse-item active" href="/egitim/apply" style="margin-left:2px;">+ Öğrenci Ekle</a> *@

                <a class="collapse-item active" href="/egitim/ListeKatilanlar" style="margin-left:2px;">
                    <i class="bi bi-clipboard-check"></i>
                    <span style="margin-left:3px;">Başvuranlar</span>
                </a>

                <a class="collapse-item active" href="/egitim/ListeKatilmayanlar" style="margin-left:2px;">
                    <i class="bi bi-x-circle"></i>
                    <span style="margin-left:3px;">Başvurudan Vazgeçenler</span>
                </a>
            </div>
        </div>
    </li>

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>