@model IEnumerable<Tur>

@{
    ViewData["Title"] = "Tür Listesi";
}

<h1>Tür Listesi</h1>
<hr />

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Tür Ekle</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Turadi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Turadi)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Turno" class="btn btn-danger" onclick="return confirm('Silmek istediğinize emin misiniz?');">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
