<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Copyright &copy; My Site 2024</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="https://x.com/kazimdandir" aria-label="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/KazmDandr" aria-label="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/kazimikbaldandir/" aria-label="LinkedIn" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" asp-controller="Site" asp-action="Privacy">Gizlilik Politikası</a>
                <a class="link-dark text-decoration-none" asp-controller="Site" asp-action="TermsOfUse">Kullanım Şartları</a>
            </div>
        </div>
    </div>
</footer>