<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="text-uppercase">BİZİMLE İLETİŞİME GEÇİN</h2>
            <h3 class="section-subheading text-muted">
                İletişime geçmek için aşağıdaki formu eksiksiz bir şekilde doldurmanız gereklidir.
            </h3>
        </div>
        <form id="contactForm" asp-controller="Message" asp-action="Create">
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- Name input-->
                        <label for="Ad"> Ad</label>
                        <input class="form-control" id="Ad" name="Ad" type="text" placeholder="Adınız *" required />
                    </div>
                    <div class="form-group">
                        <!-- Surname input-->
                        <label for="Soyad">Soyad</label>
                        <input class="form-control" id="Soyad" name="Soyad" type="text" placeholder="Soyadınız *" required />
                    </div>
                    <div class="form-group mb-md-0">
                        <!-- Email address input-->
                        <label for="EPosta">E-Posta Adresi</label>
                        <input class="form-control" id="EPosta" name="EPosta" type="email" placeholder="E-Posta Adresiniz *" required />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-textarea mb-md-0">
                        <!-- Message input-->
                        <label for="Mesaj">Mesaj</label>
                        <textarea class="form-control" id="Mesaj" name="Mesaj" placeholder="Mesajınız *" required></textarea>
                    </div>
                </div>
            </div>
            <!-- Submit Button-->
            <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase" type="submit" onclick="submitForm()" >MESAJI GÖNDER</button></div>
        </form>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function submitForm() {
        Swal.fire({
            position: "top-end",
            icon: "success",
            title: "Mesajınız iletilmiştir",
            showConfirmButton: false,
            timer: 2500
        });
    }
</script>
